<h1 class="flex justify-center fancy-text">Fake API Store</h1>
<br />
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink class="link" routerLink="/products/:id">Products ID</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink class="link" routerLink="/products">Products All</a>
  </li>
</ul>
<br />
<div class="flex-box">
  <div *ngFor="let item of products$ | async">
    <div class="max-width rounded overflow-hidden shadow-lg card-border">
      <img
        class="w-full"
        src="{{ this.item.image }}"
        alt="Here should be a photo"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ this.item.title }}</div>
        <p class="text-gray-700 text-base">
          {{ this.item.description }}
        </p>
        <br />
        <h3 class="font-bold">Price {{ this.item.price }}$</h3>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#{{ this.item.category }}</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#rating {{ this.item.rating.rate }}</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#count {{ this.item.rating.count }}</span
        >
      </div>
    </div>
  </div>
</div>
