.cardBorder {
  border: 2px solid black;
}

.flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}

.maxWidth {
  max-width: 300px;
}
